<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MechanicSignup</display-name>
    <servlet-name>MechanicSignup</servlet-name>
    <servlet-class>bikebuddy.MechanicSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicSignup</servlet-name>
    <url-pattern>/MechanicSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicLogout</display-name>
    <servlet-name>MechanicLogout</servlet-name>
    <servlet-class>bikebuddy.MechanicLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicLogout</servlet-name>
    <url-pattern>/MechanicLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataBaseConnection</display-name>
    <servlet-name>DataBaseConnection</servlet-name>
    <servlet-class>bikebuddy.DataBaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseConnection</servlet-name>
    <url-pattern>/DataBaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mechanic</display-name>
    <servlet-name>Mechanic</servlet-name>
    <servlet-class>bikebuddy.Mechanic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mechanic</servlet-name>
    <url-pattern>/Mechanic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicUpdate</display-name>
    <servlet-name>MechanicUpdate</servlet-name>
    <servlet-class>bikebuddy.MechanicUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicUpdate</servlet-name>
    <url-pattern>/MechanicUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicParts</display-name>
    <servlet-name>MechanicParts</servlet-name>
    <servlet-class>bikebuddy.MechanicParts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicParts</servlet-name>
    <url-pattern>/MechanicParts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>bikebuddy.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSignup</display-name>
    <servlet-name>CustomerSignup</servlet-name>
    <servlet-class>bikebuddy.CustomerSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSignup</servlet-name>
    <url-pattern>/CustomerSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogout</display-name>
    <servlet-name>CustomerLogout</servlet-name>
    <servlet-class>bikebuddy.CustomerLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogout</servlet-name>
    <url-pattern>/CustomerLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdate</display-name>
    <servlet-name>CustomerUpdate</servlet-name>
    <servlet-class>bikebuddy.CustomerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdate</servlet-name>
    <url-pattern>/CustomerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bike</display-name>
    <servlet-name>Bike</servlet-name>
    <servlet-class>bikebuddy.Bike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bike</servlet-name>
    <url-pattern>/Bike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBike</display-name>
    <servlet-name>RemoveBike</servlet-name>
    <servlet-class>bikebuddy.RemoveBike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBike</servlet-name>
    <url-pattern>/RemoveBike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicAddPart</display-name>
    <servlet-name>MechanicAddPart</servlet-name>
    <servlet-class>bikebuddy.MechanicAddPart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicAddPart</servlet-name>
    <url-pattern>/MechanicAddPart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mechanicFetchParts</display-name>
    <servlet-name>mechanicFetchParts</servlet-name>
    <servlet-class>bikebuddy.mechanicFetchParts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mechanicFetchParts</servlet-name>
    <url-pattern>/mechanicFetchParts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemovePart</display-name>
    <servlet-name>RemovePart</servlet-name>
    <servlet-class>bikebuddy.RemovePart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemovePart</servlet-name>
    <url-pattern>/RemovePart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicSpecialization</display-name>
    <servlet-name>MechanicSpecialization</servlet-name>
    <servlet-class>bikebuddy.MechanicSpecialization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicSpecialization</servlet-name>
    <url-pattern>/MechanicSpecialization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBooking</display-name>
    <servlet-name>CustomerBooking</servlet-name>
    <servlet-class>bikebuddy.CustomerBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBooking</servlet-name>
    <url-pattern>/CustomerBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicBooking</display-name>
    <servlet-name>MechanicBooking</servlet-name>
    <servlet-class>bikebuddy.MechanicBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicBooking</servlet-name>
    <url-pattern>/MechanicBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerViewService</display-name>
    <servlet-name>CustomerViewService</servlet-name>
    <servlet-class>bikebuddy.CustomerViewService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerViewService</servlet-name>
    <url-pattern>/CustomerViewService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookMechanic</display-name>
    <servlet-name>BookMechanic</servlet-name>
    <servlet-class>bikebuddy.BookMechanic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMechanic</servlet-name>
    <url-pattern>/BookMechanic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBooking</display-name>
    <servlet-name>CancelBooking</servlet-name>
    <servlet-class>bikebuddy.CancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBooking</servlet-name>
    <url-pattern>/CancelBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerachPart</display-name>
    <servlet-name>SerachPart</servlet-name>
    <servlet-class>bikebuddy.SerachPart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerachPart</servlet-name>
    <url-pattern>/SerachPart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartsOrder</display-name>
    <servlet-name>PartsOrder</servlet-name>
    <servlet-class>bikebuddy.PartsOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartsOrder</servlet-name>
    <url-pattern>/PartsOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerPartOrder</display-name>
    <servlet-name>CustomerPartOrder</servlet-name>
    <servlet-class>bikebuddy.CustomerPartOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPartOrder</servlet-name>
    <url-pattern>/CustomerPartOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicCancelBooking</display-name>
    <servlet-name>MechanicCancelBooking</servlet-name>
    <servlet-class>bikebuddy.MechanicCancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicCancelBooking</servlet-name>
    <url-pattern>/MechanicCancelBooking</url-pattern>
  </servlet-mapping>
</web-app>